# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Publish to NPM

on:
    push:
        tags:
            - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
    contents: read
    id-token: write # Obrigatorio para autenticação OIDC

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v6
              with:
                  node-version: "22"
            - run: npm install -g npm@latest
            - run: yarn install
            - run: yarn build
            - run: yarn publish --access public
              env:
                  NPM_CONFIG_PROVENANCE: "true"
